#search-button {
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(219, 18, 58);
  color: rgb(245, 239, 239);
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-weight: 900;
  font-size: 20px;
  transition: all 0.3s;
}

#search-button:hover {
  background-color: rgb(255, 68, 99);
}

#search-button:active {
  background-color: rgb(153, 21, 47);
}

#search-button h3 {
  margin: 0;
  padding: 0;
}
